/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Montserrat, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  display: block;
}

span {
  font-weight: bold;
}


/* NAV BAR */
.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px 35px;
  align-items: center;
  border-radius: 20px;
  box-shadow:
    inset 0 4px 12px rgba(255, 255, 255, 0.4),
    inset 2px -6px 5px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  position: fixed;
  width: 100%;
  z-index: 999;


}

.nav-branding {
  display: flex;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
}


nav a {
  text-decoration: none;
  color: inherit;
  padding: 10px 20px;
}


nav a:hover {
  background-color: #E38833;
  box-shadow:
    inset 2px 4px 6px rgba(255, 255, 255, 0.4),
    inset -2px -4px 6px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(227, 136, 51, 0.15),
    0 2px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: #fff;
  border-radius: 50px;
}

/* sous liste de la nav bar */

.hidden-list {
  display: none;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  margin: 8px;
  right: 50px;
  border-radius: 20px;
  background: #ded2c8d4;
  box-shadow:
    inset 2px 4px 6px rgba(255, 255, 255, 0.4),
    inset -2px -4px 6px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(227, 136, 51, 0.15),
    0 2px 4px rgba(0, 0, 0, 0.2);

}

.hidden-list li {
  padding: 10px;
}

.hidden-list:hover {
  display: flex;
}

nav ul li:hover .hidden-list {
  display: flex;
}

.active {
  border: solid 2px #E38833;
  border-radius: 15px;
}

.active:hover {
  border-color: transparent;
}


.hero-banner {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
  justify-items: center;
  height: 100vh;
  background-color: #DED2C8;
}

.hero-banner img {
  grid-column: 1 / -1;
  grid-row: 1;
  object-fit: contain;
  height: 100vh;
}

.titre {
  grid-column: 1 / 12;
  grid-row: 1;
  z-index: 2;
  justify-self: end;
  text-align: right;
}

.titre h1 {
  font-size: 48px;
  color: #E38833;
  font-family: "Playfair Display SC", serif;
}

.titre p {
  text-align: center;
  font-size: 22px;
}

.hero-cards-container {
  width: 100%;
  height: auto;
  grid-column: 1 / -1;
  grid-row: 1;
  align-self: end;

  display: grid;
  grid-template-columns: repeat(24, 1fr);
  align-items: center;
  justify-items: center;
}

.hero-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 35px;
  border-radius: 20px 20px 0 0;
  width: 300px;
  height: 200px;

  background: rgba(255, 255, 255, 0.15);
  /* translucent glass base */
  border: 1px solid rgba(255, 255, 255, 0.3);

  /* inset shadows for curved edges */
  box-shadow:
    inset 0 6px 10px rgba(255, 255, 255, 0.6),
    /* light highlight on top */
    inset 0 -6px 10px rgba(0, 0, 0, 0.15);
  /* outer shadow for depth */

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

}

.hero-card-one {
  grid-column-start: 4;
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  padding: 15px;
}

.hero-card-two {
  padding: 15px;
  grid-column-start: 20;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}


/* section1  et corps du site*/

.section1 {
  background-color: #F4E5DB;
  height: 900px;
  margin-top: -20px;
  padding: 35px;
  position: relative;
  border-radius: 20px 20px 400px 400px;
  display: flex;
  align-items: center;
  z-index: 10;
}

.text-container {
  width: 50%;
  transform: translateY(-60px);
}

.text-container h2 {
  margin-bottom: 100px;
  font-family: Playfair Display SC;
  font-size: 24px;
}

.text-container p {
  font-size: 16px;
}

.image-container {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.image-container img {
  border-radius: 200px;
  height: 360px;
  width: 555px;

}

.flower {
  position: absolute;
  bottom: -50px;
  left: 0;
  z-index: -1;
  opacity: 0.5;
}

.section-content{
  margin-top: 300px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 35px;
  gap: 20px;
}

.section-content p {
  margin-bottom: 80px;
}

.section2{
  height: 1500px;
  background-color: #EBCFBD;
  margin-top: -400px;
  display: flex;
  border-radius: 0 0 400px 400px;
  position: relative;
  z-index: 9;
}

button{
  border: none;
  padding: 15px 20px;
  border-radius: 35px;
  margin-left: 30px;

}

.btn-rdv{
  background-color:#E38833;
}

.btn-about{
  background-color: #145A32;
  color: #fff;
  padding: 15px 43px;
}

.section2 button:hover{
  background-color: #E38833;
  box-shadow:
    inset 2px 4px 6px rgba(255, 255, 255, 0.4),
    inset -2px -4px 6px rgba(0, 0, 0, 0.2),
    0 8px 20px rgba(227, 136, 51, 0.15),
    0 2px 4px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  color: #fff;

}

.section2 .text-container{
  transform: translateY(-30px);
}


.section3{
  background-color: #D9D9D9;
  margin-top: -400px;
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 800px 800px;
}

.section3 .text-container{
  transform: translateY(200px);
}

.section3 h2{
  text-align: center;
}